/* Font Declarations */

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v17/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rock Salt Regular'), local('RockSalt-Regular'), url(https://fonts.gstatic.com/s/rocksalt/v11/MwQ0bhv11fWD6QsAVOZrt0M6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
  /* Rulesets */
  
  
  html {
    font-family: 'Lato';
    font-size: 16px;
    width: 100%;
    height: auto;
    background-image: url("https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    height: 4%;
    opacity: 0.7;
  }
  
  #navBarList {
    background-image: url(https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/122329571_10100657661285016_1285708317308163565_o.jpg?_nc_cat=111&ccb=2&_nc_sid=8024bb&_nc_ohc=SvgupZH9JhYAX8VgF-C&_nc_ht=scontent-ort2-1.xx&oh=53808111be4cec3ed792966d0a15ccf5&oe=5FBAD5A3);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inline-block;
    margin-top: 5%;
    margin-right: 20%;
    padding: 2%;
    font-family: 'Libre Baskerville';
    position: relative;
    bottom: 60px;
    width: 100%;
    height: 40%;
    text-align: center;
}
  
  
  
  #navBarList li {
  
     display: inline;
      width: 15%;
      margin-top: 10%;
      font-size: 1.15em;
      font-weight: 700;
      position: relative;
      right: 15%;
      text-align: center;
  }
  
  #navBarList p {
    display: inline;
    margin: 0 auto;
    position: relative;
    right: 15%;
  }

  #header {
    margin: 0 auto;
  }

  img {
    height: 50%;
    width: 100%;
    border-radius: 100px;
  }
  #titleCard h1 {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 115px;
    color: rgb(234,236,237);
    font-family: 'Rock Salt';
    border: 3px solid rgb(234,236,237);
    border-radius: 50px;
    
  }

  #cricket img {
    width: 30%;
    height: 100%;
    position: relative;
    left: 37%;
    bottom: 50px;
    display: inline;
    z-index: 2;
  }

  #missionContent {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    bottom: 100px;
    background-image: url("https://images.unsplash.com/photo-1577923873566-c65cea4b859f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1257&q=80");
    background-repeat: no-repeat;
    background-size: 150% 150%;
    border-radius: 8%;
    min-width: 50%;
    opacity: 0.9;
    z-index: 1;
  }

  #missionContent p {
    display: inline-block;
    position: relative;
    bottom: 90px;
    letter-spacing: 4px;
    font-size: 20px;
    width: 20%;
    max-width: 200px;
    color: rgb(234,236,237);
    margin-left: 5%;
    margin-top: 15%;
  }

  #altDisplay {
      display: none;
  }

  footer {
    text-align: center;
    background-image: url("https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/122329571_10100657661285016_1285708317308163565_o.jpg?_nc_cat=111&ccb=2&_nc_sid=8024bb&_nc_ohc=SvgupZH9JhYAX8VgF-C&_nc_ht=scontent-ort2-1.xx&oh=5f8a5de6e84cc7b7b4d2b8691f3bd868&oe=5FB6E123");
  }

  /* Responsive Design */

  @media only screen and (max-width: 532px) {
        #missionContent {
          display: none;
      }
    
        #altDisplay {
            display: block;
            font-size: 2rem;
            color: grey;
            font-family: 'Libre Baskerville';
            font-weight: bold;
            text-align: center;
            background-color: beige;
            border: 1px solid grey;
            border-radius: 30px;
        }

        #navBarList h1, #navBarList p {
            font-size: 0.5rem;
        }
    }

  @media only screen and (max-width: 825px) {
      nav {
          position: relative;
          top: 30px;
      }
  }

@media only screen and (max-width: 524px) {
      #titleCard h1 {
          position: relative;
          top: 40%;
          color: black;
      }

      #cricket {
        width: 60%;
        height: 100%;
        position: relative;
        left: 37%;
        bottom: 50px;
        display: inline;
        z-index: 2;
      }
}